@media screen and (max-width: 600px) {
    * {
        margin: 0;
    }

    main {
        margin-left: 24px;
        margin-right: 24px;
    }

    p,
    li {
        font-size: 14px;
    }

    .popular-tours h1,
    .choose-us-section-header h1,
    .destination-header h1 {
        font-size: 20px;
        padding-bottom: 16px;
    }

    .choose-us,
    .newsletter,
    .banner,
    .destination {
        margin-bottom: 24px;
    }

    /* banner section */

    .banner img {
        height: 483px;
    }

    .banner-desc h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .banner-desc p {
        margin-bottom: 10px;
    }

    .banner-input {
        flex-direction: column;
        gap: 12px;
        padding: 8px;
    }

    .banner-input {
        flex-direction: column;
        gap: 8px;
        padding: 8px;
        margin: 0 20px 0 20px;
    }

    .input-container button {
        padding: 16px 105px 16px 105px;
    }

    /* destination section */

    .destination p {
        margin: 0 10px 0 10px;
    }

    .destination {
        gap: 16px;
    }

    .destination img {
        width: 100%;
        height: auto;
    }

    .gallery-1,
    .gallery-2,
    .gallery-3 {
        grid-template-columns: 1fr;
    }


    /* Popular tours section */
    .popular-tours {
        flex-direction: column;
        gap: 24px;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        padding-top: 16px;
        padding-bottom: 4px;
    }

    li {
        padding-bottom: 12px;
    }

    #popular-tours-desc {
        padding-bottom: 24px;
    }

    .popular-tours img {
        max-width: 100%;
    }

    /* Choose Us section */
    .choose-us-section-header {
        padding-bottom: 16px;
    }

    .choose-us img {
        width: 48px;
        height: 48px;
    }

    .items {
        flex-direction: column;
        gap: 16px;
    }

    .hotel,
    .map,
    .price {
        padding: 32px;
    }

    .hotel img,
    .map img,
    .price img {
        padding-bottom: 16px;
    }

    .hotel h3,
    .map h3,
    .price h3 {
        font-size: 20px
    }

    .price {
        margin: 16px 0 0 0;
    }

    /* Newsletter section */
    .newsletter {
        flex-direction: column;
        gap: 16px;
    }

    .newsletter-input-field {
        padding: 24px;
    }

    .newsletter p {
        padding-bottom: 16px;
    }

    #name-input,
    #email-input {
        padding: 16px 174px 16px 20px;
    }

    #name-input {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    #email-input {
        margin-bottom: 20px;
    }

    .newsletter button {
        padding: 14px 119px;
    }

    .newsletter img {
        width: 100%;
    }

    .discount-ad p {
        top: 70%;
        left: 24%;
    }

    #sale {
        font-size: 21px;
    }

    /* Footer section */
    footer {
        padding: 32px 20px;
    }

    .footer-header {
        font-size: 21px;
        gap: 10px;
    }

    footer p {
        padding: 16px 24px;
    }

    .logos {
        padding-bottom: 24px;
    }

    #copyright {
        padding: 25px 0 0 0;
    }
}