* {
    margin: 0;
}

main {
    font-family: Mulish;
    margin-left: 135px;
    margin-right: 135px;
    line-height: 28px;
}

p,
li {
    color: rgba(19, 19, 24, 0.7);
}

img {
    border-radius: 16px;
}

.btn-primary {
    border: none;
    border-radius: 8px;
    background: rgb(255, 84, 0);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 800;
    padding: 14px 34px;
}

/* Popular tours start */
.popular-tours {
    display: flex;
    justify-content: space-between;
    gap: 53px;
}

.popular-tours h1 {
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 24px;
}

ul {
    padding-top: 24px;
    padding-bottom: 8px;
}

li {
    padding-bottom: 16px;
}

#popular-tours-desc {
    padding-bottom: 32px;
}

/* Popular tours end */

/* Choose Us section start */
/* .choose-us-section-header {
    text-align: center;
    padding-bottom: 48px;
}

.choose-us-section-header h1 {
    padding-bottom: 24px;
    font-size: 40px;
    font-weight: 800;
}

.choose-us img {
    width: 65px;
    height: 65px;
    margin-bottom: 32px;
}

.items {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.hotel,
.map,
.price {
    border-radius: 16px;
    padding: 32px 32px 55px 32px;
}

.hotel {
    background: rgba(251, 181, 99, 0.05);
}

.map {
    background: rgba(41, 206, 246, 0.05);
}

.price {
    background: rgba(233, 68, 68, 0.05);
    align-items: center;
    margin-left: 298px;
    margin-right: 298px;
}

/* Choose Us section end */

/* Footer section start */
footer {
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
    padding: 110px 284px;
}

.footer-header {
    font-size: 32px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

footer h1 {
    margin: 0;
}

.name {
    color: rgb(255, 84, 0);
}

footer p {
    color: rgb(90, 90, 93);
    padding: 0 40px 0 40px;
}

.logos {
    margin: 32px;
    display: flex;
    justify-content: center;
    gap: 32px;
}

hr {
    border: 1px solid rgba(19, 19, 24, 0.1);
}

#copyright {
    font-weight: 300;
}

*/
/* Footer section end */

/* Responsive */